<header>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a href="index.html"><h1>DCBeI</h1></a>
            </div>
          </div>
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="index.html">Home</a></li>
              <li role="presentation"><a href="feature.html"><%= __('cat') %></a></li>
              <li role="presentation"><a href="blog.html"><%= __('search') %></a></li>
              <li role="presentation"><a href="portfolio.html"><%= __('proy-upcoming') %></a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <li class="right" role="presentation">
                <a href="/es" id="lang-es" class="valign-wrapper">
                  <div class="col s2" style="float: left;">
                    <img src="/images/es.png" alt="" class="circle responsive-img" style="width: 20px;"> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s10" style="padding-left: 2em" >
                    <span class="black-text">
                      <%= __('es') %>
                    </span>
                  </div>
                </a>
              </li>
              <li class="right" role="presentation">
                <a href="/es" id="lang-es" class="valign-wrapper">
                  <div class="col s2" style="float: left;">
                    <img src="/images/en.png" alt="" class="circle responsive-img" style="width: 20px;"> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s10" style="padding-left: 2em" >
                    <span class="black-text">
                      <%= __('en') %>
                    </span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
