<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="/cat-author">Catalogo</a><i class="icon-angle-right"></i></li>
        <li class="active">Author</li>
      </ul>
    </div>
  </div>
</div>
</section>


 <div class="container-fluid">
<div class="col-mod-9 col-md-offset-2">
  <ul class="pagination pagination-md">
    <li><a href="/catalogo/author/search?q=A&p=1">A</a></li>
    <li><a href="/catalogo/author/search?q=B">B</a></li>
    <li><a href="/catalogo/author/search?q=C">C</a></li>
    <li><a href="/catalogo/author/search?q=D">D</a></li>
    <li><a href="/catalogo/author/search?q=E">E</a></li>
    <li><a href="/catalogo/author/search?q=F">F</a></li>
    <li><a href="/catalogo/author/search?q=G">G</a></li>
    <li><a href="/catalogo/author/search?q=H">H</a></li>
    <li><a href="/catalogo/author/search?q=I">I</a></li>
    <li><a href="/catalogo/author/search?q=J">J</a></li>
    <li><a href="/catalogo/author/search?q=K">K</a></li>
    <li><a href="/catalogo/author/search?q=L">L</a></li>
    <li><a href="/catalogo/author/search?q=M">M</a></li>
    <li><a href="/catalogo/author/search?q=N">N</a></li>
    <li><a href="/catalogo/author/search?q=Ñ">Ñ</a></li>
    <li><a href="/catalogo/author/search?q=O">O</a></li>
    <li><a href="/catalogo/author/search?q=P">P</a></li>
    <li><a href="/catalogo/author/search?q=Q">Q</a></li>
    <li><a href="/catalogo/author/search?q=R">R</a></li>
    <li><a href="/catalogo/author/search?q=S">S</a></li>
    <li><a href="/catalogo/author/search?q=T">T</a></li>
    <li><a href="/catalogo/author/search?q=U">U</a></li>
    <li><a href="/catalogo/author/search?q=V">V</a></li>
    <li><a href="/catalogo/author/search?q=W">W</a></li>
    <li><a href="/catalogo/author/search?q=X">X</a></li>
    <li><a href="/catalogo/author/search?q=Y">Y</a></li>
    <li><a href="/catalogo/author/search?q=Z">Z</a></li>
    <li><a href="/cat-author">*</a></li>
  </ul>
</div>
<% for(var i=0; i<project.length; i++) { %>
  <div class="row ">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h4><%= project[i].title %></h4></div>
            <div class="panel-body">
              <ul class="list-group">
                    <li class="list-group-item"><h5>Autor   <span class="glyphicon glyphicon-user"</span></h5> <%= project[i].author1 %> /  <%= project[i].author2 %> / <%= project.author3 %></li>
                    <li class="list-group-item"><h5>Asesor    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5> <%= project[i].asesor %> </li>
                    <li class="list-group-item"><h5>Programa Educativo    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h5><%= project[i].program %></li>
                    <li class="list-group-item"><%= project[i].date.toISOString() %> </li>
                    <li class="list-group-item"><a href="your link" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i> Reporte</a></li>
              </ul>
          </div>
        </div>
    </div>
  </div>
<% } %>


<% if(count>0) {%>
  <nav>
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
          <div id="pagination">
            <ul class="pager">
          	 <span class="all">Page <%=page%> of <%=Math.round(count/5)%></span>
          	 <span class="current"><%=page%></span>
             <% if(page>1) {%>
               <a href="/catalogo/author/search?q=<%=letter%>&p=<%=page-1%>">Anterior</a>
             <% } %>
             <% if(count > (page*5)) {%>
          	    <a href="/catalogo/author/search?q=<%=letter%>&p=<%=parseInt(page)+1%>">Siguiente</a>
              <% } %>
          </div>
        </div>
      </div>
  </nav>
<% } %>
