<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="/cat-author"><%= __('cat') %></a><i class="icon-angle-right"></i></li>
        <li class="active"><%= __('author') %></li>
      </ul>
    </div>
  </div>
</div>
</section>


 <div class="container-fluid">
<div class="col-mod-9 col-md-offset-2">
  <div class="col-mod-4 col-md-offset-5">
    <h4 class="heading"><%= __('author') %></h4>
  </div>
  <ul class="pagination pagination-md">
    <li><a href="/catalogo/author/search?q=A&p=1">A</a></li>
    <li><a href="/catalogo/author/search?q=B">B</a></li>
    <li><a href="/catalogo/author/search?q=C">C</a></li>
    <li><a href="/catalogo/author/search?q=D">D</a></li>
    <li><a href="/catalogo/author/search?q=E">E</a></li>
    <li><a href="/catalogo/author/search?q=F">F</a></li>
    <li><a href="/catalogo/author/search?q=G">G</a></li>
    <li><a href="/catalogo/author/search?q=H">H</a></li>
    <li><a href="/catalogo/author/search?q=I">I</a></li>
    <li><a href="/catalogo/author/search?q=J">J</a></li>
    <li><a href="/catalogo/author/search?q=K">K</a></li>
    <li><a href="/catalogo/author/search?q=L">L</a></li>
    <li><a href="/catalogo/author/search?q=M">M</a></li>
    <li><a href="/catalogo/author/search?q=N">N</a></li>
    <li><a href="/catalogo/author/search?q=Ñ">Ñ</a></li>
    <li><a href="/catalogo/author/search?q=O">O</a></li>
    <li><a href="/catalogo/author/search?q=P">P</a></li>
    <li><a href="/catalogo/author/search?q=Q">Q</a></li>
    <li><a href="/catalogo/author/search?q=R">R</a></li>
    <li><a href="/catalogo/author/search?q=S">S</a></li>
    <li><a href="/catalogo/author/search?q=T">T</a></li>
    <li><a href="/catalogo/author/search?q=U">U</a></li>
    <li><a href="/catalogo/author/search?q=V">V</a></li>
    <li><a href="/catalogo/author/search?q=W">W</a></li>
    <li><a href="/catalogo/author/search?q=X">X</a></li>
    <li><a href="/catalogo/author/search?q=Y">Y</a></li>
    <li><a href="/catalogo/author/search?q=Z">Z</a></li>
    <li><a href="/cat-author">*</a></li>
  </ul>
</div>
<% for(var i=0; i<project.length; i++) { %>
  <div class="row ">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h4><%= project[i].title %></h4></div>
            <div class="panel-body">
              <ul class="list-group">
                    <li class="list-group-item"><h5><%= __('author') %>   <span class="glyphicon glyphicon-user"</span></h5> <%= project[i].author1 %> /  <%= project[i].author2 %> / <%= project.author3 %></li>
                    <li class="list-group-item"><h5><%= __('asesor') %>    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h5> <%= project[i].asesor %> </li>
                    <li class="list-group-item"><h5><%= __('program') %>    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h5><%= project[i].program %></li>
                    <li class="list-group-item"><%= project[i].date.toISOString() %> </li>
                    <!--li class="list-group-item"><a href="your link" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i> Reporte</a></li-->
                    <li class="list-group-item">
                      <!--a href="#" class="btn btn-primary" data-toggle="modal-<%= project[i].id %>" data-target=".bd-example-modal-lg"><i class="glyphicon glyphicon-download"></i> Reporte</a-->
                      <button class="btn btn-primary" data-toggle="modal" data-target=".modal-<%= project[i].id%>"><i class="glyphicon glyphicon-plus"></i>Info</button>
                    </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="modal fade modal-<%= project[i].id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                  <form role="form" class="register-form" action="/project/edit" method="post">
                <h2><%= __('info-pr') %></h2>
                <hr class="colorgraph">
                <div class="row">
                  <div class="form-group">
                        <input type="hidden" name="id"  id="id" class="form-control input-lg" placeholder="Programa" tabindex="2" value="<%= project[i].id %>">
                        <input type="text" name="title"  id="title" class="form-control input-lg" placeholder="Titulo" tabindex="2" value="<%= project[i].title%>">
                  </div>
                  <div class="form-group">
                        <input type="text" name="asesor"  id="asesor" class="form-control input-lg" placeholder="Asesor" tabindex="2" value="<%= project[i].asesor%>">
                  </div>
                  </div>
                    <div class="form-group">
                        <input type="text" name="author1" id="author1" class="form-control input-lg" placeholder="Autor 1" tabindex="1" value="<%=project[i].author1%>">
                    </div>
                      <div class="form-group">
                        <input type="text" name="author2" id="author2" class="form-control input-lg" placeholder="Autor 2" tabindex="2"  value="<%=project[i].author2%>">
                      </div>
                    <div class="form-group">
                      <input type="text" name="author3" id="author3" class="form-control input-lg" placeholder="Autor 3" tabindex="2"  value="<%=project[i].author3%>">
                    </div>
                    <div class="form-group">
                      <textarea type="text" name="description" id="description" class="form-control input-lg" placeholder="Short Description" tabindex="2"  value="<%=project[i].description %>"></textarea>
                    </div>
                    <div class="form-group">
                      <textarea type="text" rows="8" name="descriptionall" id="descriptionall" class="form-control input-lg" placeholder="All Description" tabindex="2"  value="<%=project[i].descriptionall %>"></textarea>
                    </div>

                <hr class="colorgraph">
              </form>
            </div>
            </div>
            </div>
      </div>
    </div>
<% } %>


<% if(count>0) {%>
  <nav>
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
          <div id="pagination">
            <ul class="pager">
          	 <span class="all">Page <%=page%> of <%=Math.round(count/5)%></span>
          	 <span class="current"><%=page%></span>
             <% if(page>1) {%>
               <a href="/catalogo/author/search?q=<%=letter%>&p=<%=page-1%>"><%= __('ant') %></a>
             <% } %>
             <% if(count > (page*5)) {%>
          	    <a href="/catalogo/author/search?q=<%=letter%>&p=<%=parseInt(page)+1%>"><%= __('sig') %></a>
              <% } %>
          </div>
        </div>
      </div>
  </nav>
<% } %>
