<section id="inner-headline">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="/cat-progr"><%= __('cat') %></a><i class="icon-angle-right"></i></li>
        <li class="active"><%= __('program') %></li>
      </ul>
    </div>
  </div>
</div>
</section>


<!-- Portfolio Projects -->
		<div class="container marginbot50">
		<div class="row">
			<div class="col-lg-12">

				<h4 class="heading"><%= __('program') %></h4>
				<% for(var i=0; i<programs.length; i++) { %>
							<a href="/catalogo/program/search?q=<%= programs[i].id %>&p=1" class="btn btn-danger btn-md">
										<%=programs[i].name%>
							</a>
			 <% } %>
       <br><br>

				<div id="grid-container" class="cbp-l-grid-projects col 6 md 6 ">
					<ul >
							<% for(var i=0; i<project.length; i++) { %>
								<li class="cbp-item prog-3 col 6 md 6">
									<div class="row col 6 md 6">

											<div class="col 6 md 6">
												<div class="panel panel-default">
		    									<div class="panel-heading"><h5><%=project[i].title%></h5></div>
		       										 <div class="panel-body">
		            									<ul class="list-group">
		               										 <li class="list-group-item"><h6> <%= __('author') %> <span class="glyphicon glyphicon-user"</span></h6> <%=project[i].author1%> / <%=project[i].author2%> / <%=project[i].author3%> </li>
		                									 <li class="list-group-item"><h6><%= __('asesor') %>    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h6><%=project[i].asesor%> </li>
		                									<li class="list-group-item"><td><%= project[i].date.toISOString() %></td></li>
                                      <li class="list-group-item"><h6><%= __('program') %>    <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h6><%=project[i].program%></li>
		            									</ul>
		       										 </div>
		    									</div>
											</div>
										</div>
								</li>
								<% } %>
					</ul>
				</div>
				<!--nav>
				  <ul class="pager">
				    <% if(page>1) {%>
				        <li><a href="/catalogo/program/search?q=<%=pr%>&p=<%=page-1%>">Anterior</a></li>
				    <% } %>
				    <% if(count > (page*5)) {%>
				        <li><a href="/catalogo/program/search?q=<%=pr%>&p=<%=parseInt(page)+1%>">Siguiente</a></li>
				    <% } %>
				  </ul>
				</nav-->
				<br><br>
				<% if(count>0) {%>
				  <nav>
				    <div class="row">
				      <div class="col-md-4 col-md-offset-5">
				          <div id="pagination">
				            <ul class="pager">
				          	 <span class="all">Page <%=page%> of <%=Math.round(count/8)%></span>
				          	 <span class="current"><%=page%></span>
				             <% if(page>1) {%>
				               <a href="/catalogo/program/search?q=<%=pr%>&p=<%=page-1%>"><%= __('ant') %></a>
				             <% } %>
				             <% if(count > (page*8)) {%>
												<a href="/catalogo/program/search?q=<%=pr%>&p=<%=parseInt(page)+1%>"><%= __('sig') %></a>
				              <% } %>
				          </div>
				        </div>
				      </div>
				  </nav>
				<% } %>



				<!--div class="cbp-l-loadMore-button">
					<a href="ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
				</div-->

			</div>
		</div>
		</div>


		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
